VITE_API_URL=https://abc.com
VITE_EDITOR_URL=https://meai-editor.vkev.me/editor
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_1234567890abcdefg
VITE_GOOGLE_CLIENT_ID=123-abc.apps.googleusercontent.com
SESSION_SECRET=supersecretkey
SESSION_EXPIRES_IN_DAYS=365
